.building {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin-inline: auto;
    margin-top: 60px;
    text-align: center;
}

.building__label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.building__select {
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    background-color: #2a2a2a;
    color: #fff;
    border: none;
    width: 100%;
}

.building__option {
    width: 100%;
    max-width: 100%;
}

.building__button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #00ffff;
    color: #000;
    border-radius: 8px;
    transition: background 0.3s;
}

.building__button:hover {
    background-color: #00cfcf;
}

.map {
    width: 100%;
}